/* Ensure the root container centers everything */
#root {
  max-width: 1280px;

  margin: auto;
  padding: 2rem;
  text-align: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center children vertically */
  align-items: center; /* Center children horizontally */
  min-height: 100vh;
  
  
}

/* Make sure body also aligns items to center */
body {

  margin: 0;
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically */
  min-height: 100vh; /* Ensure full viewport height */
  flex-direction: column;
  background-color: lightblue;
}

/* Center forms and content inside convert */
.convert,
.safety,
form {
  /* margin: auto; */
  background-color: lightblue;
  width: 75rem;
  border-radius: 25px;
  border: 1px solid #070773;
  padding: 4%;
  box-shadow: 18px 11px 0px 4px #070773;
  text-align: center; /* Center text inside */
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center content inside */
  align-items: center;
}

/* Ensure buttons are centered */
button {
  margin: 10px auto; /* Auto centers horizontally */
  display: block;
  border-color: #070773;
  box-shadow: 7px 5px 0px 2px #070773;

}

.all-convert {
  border-radius: 25px;
  border: 1px solid #070773;
  padding: 4%;
  box-shadow: 18px 11px 0px 4px #070773;
}


/* Center the JSON output box */
.json-output {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Ensure everything inside is centered */
  box-shadow: 18px 11px 0px 4px #070773;
  color: #333;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 4px;
  margin-top: 10px;
  text-align: center;
}

/* Adjust input fields */
input {
  border-radius: 25px;
  text-align: center;
  width: 80%;
  padding: 8px;
  margin-bottom: 10px;
}

.searching {
  border-radius: 25px;
  border: 1rem solid #070773;
  padding: 4%;
}